<ion-view view-title="Dashboard">
  <ion-content class="padding">
    
    <button class="button" ng-click="instagramLogin()">Login with Instagram</button>
    <br>
    <hr/>
    <button class="button" ng-click="facebookLogin()">Login with Facebook</button>
    <br>
    <button class="button" ng-click="facebookPost()">Post to Facebook</button>
<!-- <button class="btn btn-block" onclick="login()">Login with Facebook</button>
<hr/>

<button class="btn btn-block" onclick="getInfo()">Get My Info</button>
<p>Name: <span id="userName"></span></p>
<img id="userPic"/>
<hr/>

<textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
<button class="btn btn-block" onclick="share()">Share</button>
<hr/>

<p>Complete Facebook Logout. After logging out, you'll have to login again and provide your Facebook credentials.</p>
<button class="btn btn-block" onclick="logout()">Logout</button>
<hr/>

<p>Revoke App Permissions. After revoking permissions, you'll have to grant permissions again when logging in.</p>
<button class="btn btn-block" onclick="revoke()">Revoke Permissions</button> -->



    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
