<ion-view>
	<ion-content class="padding" scroll="false">
		<div id="share-container">
			<div class="left">
				<img class="img-to-share" ng-src="{{imgToShare}}">
			</div>

			<div class="right">
				<h1 class="light">
					Share via {{socialToShare}}
				</h1>
				<textarea maxlength="70" ng-model="msgToShare"></textarea>
				<button class="button btnBack" ng-click="back()">BACK</button>
				<!--  -->
				<button ng-if="socialToShare == 'Facebook'" class="button btnConfirmShare" ng-click="postOnFb()">POST</button>
				<button ng-if="socialToShare == 'Print'" class="button btnConfirmShare" ng-click="print()">PRINT</button>
				<button ng-if="socialToShare == 'Email'" class="button btnConfirmShare" ng-click="email()">EMAIL</button>
				<!--  -->
			</div>

		</div>
	</ion-content>
</ion-view>
