<ion-view>
	<ion-content class="padding" scroll="false">
		<div id="share-container">
			<div class="left">
				<img class="img-to-share" ng-src="{{imgToShare}}">
			</div>

			<div class="right">
				<h1 class="light">
					Share via {{socialToShare}}
				</h1>
				<textarea maxlength="50" ng-model="msgToShare"></textarea>
				<button class="button btnBack" ng-click="back()">BACK</button>
				<button class="button btnConfirmShare" ng-click="share()">SHARE</button>
			</div>

		</div>
	</ion-content>
</ion-view>
