/* Empty. Add your own CSS if you like */
/*Override body bg*/

* {
    font-family: 'tabiamedium' !important;
}
body {
    transition: 0.75s;
    background-size: cover 110% !important;
    background-repeat: no-repeat !important;
}
/*View Transparent*/

.pane, .transparent-bg {
    background-color: transparent !important;
}

/* Settings Page */

.settings-container {
    padding: 20px;
}

.btnSettings {
    position: absolute;
    bottom: 15%;
    background: #fff;
    padding: 20px;
    opacity: 0;
}

.setting-item {
    margin: 20px 0px;
}

.setting-item input {
    width: 70%;
    font-size: 1.5em;
    height: 2.25em;
    display: inline;
    padding-left: 10px;
}

/* Welcome Page */

#welcome-container {
    width: 100%;
    text-align: center;
}
#welcome-container img {
    margin-top: calc(25%);
    width: 200px;
    -webkit-animation: pulse 2s infinite;
}
/* Register page */

#register-container {
    width: 80%;
    margin-top: 120px;
}
#register-container div {
    margin-bottom: 3px;
}
/* container left */

#register-container div .left {
    width: 30%;
    background: rgba(255, 255, 255, 0.1);
    text-align: right;
    padding: 25px 15px;
    font-size: 1.45em;
}
/* container right */

#register-container div .right {
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    text-align: right;
    padding: 18px 20px !important;
}
#register-container div .right input {
    background: none !important;
    color: yellow !important;
    font-size: 1.45em !important;
    text-transform: uppercase;
}
.register-disclaimer .right {
    position: relative;
    padding: 20px 0px 20px 20px !important;
}
#textarea-disclaimer {
    height: 290px;
    overflow-y: scroll;
    text-align: left;
    padding: 0px 0px;
    font-family: 'tabianormal' !important;
    font-size: 1.2em;
}
.btn-register {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    position: absolute;
    padding: 15px 30px;
    bottom: -60px;
    color: yellow;
    font-family: 'tabiamedium' !important;
    font-size: 1.30em;
}
#register-submit {
    right: 0px;
}
#register-cancel {
    left: 0px;
}
/* Gallery page */

.slider {
    height: 100%;
}
.slide-by-six {
    margin-top: 60px;
    height: 100%;
    width: 90%;
}
.slide-box {
    /*margin: 0 auto;*/

    height: 100%;
    text-align: center;
    transition: 1s;
}
.slide-box div {
    text-align: left;
    position: relative;
    left: 40px;
}
.slide-box a > img {
    transition: 1s;
    display: inline-block;
    width: 27.5%;
    margin: 15px;
    /*border: 5px solid #fff;*/
}
.gallery-image {
    /*	float: left;
	width: 50%;*/
}
.slider-pager {
    position: absolute;
    bottom: 40px;
    color: #fff !important;
}
.slider-pager-page {
    color: #fff !important;
}
.flb-bottom {
    margin-top: 100px !important;
    text-align: center !important;
    position: absolute !important;
    top: 80% !important;
    left: 0px !important;
    width: 100% !important;
}

.share-icon {
    width: 80px;
    margin: 1px;
    /*opacity: 1;*/
}

/* Share page */

#share-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 85%;
}

#share-container .left {
    padding: 5px;
}

#share-container .right {
    text-align: left;
    padding: 10px;
}

#share-container .right textarea {
    height: 200px;
    font-size: 2.5em;
    line-height: 1.2em;
    background: transparent;
    color: yellow;
    margin-bottom: 20px;
}

.img-to-share {
    width: 450px;
}

.btnConfirmShare {
}
/* Thankyou page */

#thankyou-container {
    color: yellow;
    text-transform: uppercase;
    width: 350px;
    font-size: 3em;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    height: 350px;
    border-radius: 50%;
    padding-top: 170px;
}

.startOver {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    right: 0px;
    top: 100%;
    font-size: 2.5em;
    padding: 18px 40px;
    color: yellow;

}

/* misc */

.left {
    float: left;
}
.right {
    float: right;
}
/* Animation */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.995);
    }
    50% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(0.98);
    }
}
[nav-view="leaving"] {
    opacity: 0 !important;
}

[ng-disabled] {
    /*color: #7B7B7B;*/
}
